*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 16px;
}
body {
  font-family: monospace;
  background-color: #272424;
}
nav,
button,
a {
  min-width: 48px;
  min-height: 48px;
}
/* prettier-ignore */
img, embed,
object, video,
iframe {
   max-width: 100%;
   height: auto;
}
/* Custom CSS properties */
:root {
  --color-grey: #9aa7a7;
  --color-blue: #015ae9;
  --color-green: #40bf77;
  --color-red: #e54624;
  --color-orange: #fb6901;
  --color-yellow: #fff700;
  --color-darkgrey: #7a8585;
  --color-darkblue: #003ea1;
  --color-darkgreen: #32945c;
  --color-darkred: #bb3d21;
  --color-darkorange: #cc5500;
  --color-darkyellow: #dad200;
}

/*
================================
 Content

================================
*/

/* General elements */

/* Buttons */
.btn--active {
  background-color: var(--color-red);
}

/* 
 *
 * Head
 *
 *
 */

.head {
  width: 100%;
  height: 3rem;
}
.head__label--title {
  width: 90%;
  margin: 1rem auto;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 3.2rem;
  text-align: center;
  color: white;
}

/* 
 *
 * Main
 *
 *
 */

.main {
  margin-top: 3rem;
  width: 100%;
  height: 100%;
}
.main__content {
  display: flex;
  width: 80%;
  height: 60%;
  padding: 1rem;
  margin: 1.5rem auto;
  cursor: url("/assets/images/cursors/default.cur"), auto;
}

/* 
 *
 * Main
 *
 * * * Content
 *
 *
 */

.main .content__container {
  width: 90%;
  padding: 1rem;
  margin: 0 auto;
  font-size: 1rem;
  border-radius: 5px;
  cursor: inherit;
}
.main .content__container--left {
  display: inline-block;
  width: 100%;
  background-color: var(--color-green);
  border: 7px solid var(--color-darkgreen);
}
.main .content__container--right {
  display: none;
  width: 40%;
  background-color: black;
  border: 7px solid var(--color-darkred);
}

@media only screen and (min-width: 768px) {
  .main .content__container {
    margin: 0 5px;
  }
  .main .content__container--right {
    display: inline-block;
  }
}

/* 
 *
 * Main
 *
 * * * Content
 *
 * * * * * Keypad
 *
 *
 */

.main .content .keypad__item {
  margin: 12px 0;
  cursor: url("/assets/images/cursors/pointer.cur"), auto;
}
.main .content .keypad__item--dock {
  display: inline-grid;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2px;
  justify-content: center;
  align-items: center;
  width: 70%;
  text-align: center;
}
.main .content .keypad__item--aside {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 20%;
}
.main .content .keypad__label--display {
  width: 80%;
  height: 2rem;
  padding: 2px;
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: right;
  background-color: var(--color-grey);
  border: 2px solid black;
  border-radius: 12px;
}
.main .content .keypad__label--display:hover {
  background-color: var(--color-darkgrey);
}

@media only screen and (min-width: 768px) {
  .main .content .keypad__item--dock {
    width: 70%;
  }
}

/* 
 *
 * Main
 *
 * * * Content
 *
 * * * * * Keypad
 *
 * * * * * * * Item
 *
 *
 */

.main .content .keypad .item__btn {
  font-family: monospace;
  background-color: var(--color-blue);
  border: 2px solid black;
}
.main .content .keypad .item__btn:hover {
  background-color: var(--color-darkblue);
  cursor: inherit;
}
.main .content .keypad .item__btn--clear {
  grid-column: 2 / 4;
  font-size: 2.9rem;
  color: var(--color-orange);
}
.main .content .keypad__item--dock .item__btn {
  font-weight: 500;
  font-size: 1.9rem;
  border-radius: 5px;
}
.main .content .keypad__item--aside .item__btn {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  width: 50%;
  margin: 1px;
  font-weight: 600;
  font-size: 2.1rem;
  color: var(--color-yellow);
}

/* 
 *
 * Main
 *
 * * * Content
 *
 * * * * * Aside
 *
 *
 */

.main .content .aside__label--title {
  margin: 1rem;
  font-size: 1.7rem;
  font-weight: 500;
  color: white;
}
.main .content .aside__content--history {
  height: 70%;
  padding: 12px;
  border: 2px solid var(--color-red);
  overflow: auto;
  background-color: black;
}
.main .content .aside__btn--clear {
  display: block;
  width: 50%;
  margin: 5px auto;
  font-size: 1.1rem;
  background-color: var(--color-orange);
  border: 2px solid black;
  border-radius: 5px;
}
.main .content .aside__btn--clear:hover {
  background-color: var(--color-darkorange);
  cursor: url("/assets/images/cursors/pointer.cur"), auto;
}

/* 
 *
 * Main
 *
 * * * Content
 *
 * * * * * Aside
 *
 * * * * * * * Content
 *
 *
 */

.main .content .aside .content__label {
  display: block;
  padding: 5px;
  margin: 5px auto;
  font-size: 1.2rem;
  text-align: center;
  color: white;
  background-color: var(--color-grey);
  border-radius: 5px;
}
